@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;

  --color-stone-50: #fff5f7;
  --color-stone-100: #ffe4e8;
  --color-stone-200: #ffd1da;
  --color-stone-800: #4a2731;
  --color-stone-900: #331a21;

  --color-botanical: #ec4899;
  --color-botanical-light: #f472b6;

  --color-wood-light: #fce7f3;
  --color-wood: #fbcfe8;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-stone-50);
  color: var(--color-stone-900);
  overscroll-behavior-y: none;
}

html {
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
}

.font-serif {
  font-family: var(--font-serif);
}

/* Utilities for hiding scrollbar but allowing scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 40s linear infinite;
}

.mask-edges {
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 5%,
    black 95%,
    transparent
  );
  mask-image: linear-gradient(
    to right,
    transparent,
    black 5%,
    black 95%,
    transparent
  );
}
